:root {
    --primary-color: rgb(5, 59, 95);
    --title-color: rgb(138, 241, 207);
    --font-family: Arial;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

